.App {
  text-align: center;
  background: #09d3ac
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: gray;
}

.App-link {
  color: #09d3ac;
}

.app-header {
  width: 100%; 
  float:left; 
  height:100; 
  background:gray; 
  margin:2px
}

.span {
  width: 100%;
  height: 100%;
  border: 1px solid black;
  margin-right: 2px;
  float: left;
}

.app-nav {
  width: 10%; 
  float:left; 
  height:100%; 
  background:gray; 
  margin:2px;
}

.app-content {
  width: 85%; 
  float:left; 
  height:100%; 
  background:gray; 
  margin:2px;
}


